{%- for action in record_actions %}
{% set icon = action|lower|replace({'edit': 'pencil', 'show': 'eye'}) %}

                        <a
                            href="{{ "{{ path('%1$s_%2$s_"|format(niceBundleName, niceEntityName) ~ action ~ "', { 'id': %1$s."|format(niceEntityName) ~ identifier ~" }) }}" }}"
                            class="fa fa-{{ icon }}"
                            title="{{ '{{ \'datagrids.actions.%s\'|trans|capitalize }}'|format(action|lower) }}"
                        >
                            <span class="hide">
                                {{ '{{ \'datagrids.actions.%s\'|trans|capitalize }}'|format(action|lower) }}
                            </span>
                        </a>

                    {%- if not loop.last %}

                    </td>
                    <td class="action">

                    {%- endif %}
{%- endfor %}
