<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    {{ errbit_notifier() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta charset="UTF-8" />
    <title>
        {% block title %}
            {{ fallbacks.get('site_title') }}
        {% endblock %}
    </title>

    {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="author" content="SumoCoders">
    {% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block stylesheets %}
            {% stylesheets
                'assets/vendor/select2/select2.css'
                'assets/css/style.css'
                filter='cssrewrite'
                output='css/style.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
    {% endblock %}

    {% block head_javascripts %}
        <script>
            var jsData = {{ jsData|raw }};
        </script>

        {% javascripts
            'assets/vendor/jquery/dist/jquery.min.js'
            'assets/vendor/jquery-ui/jquery-ui.min.js'
            'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
            'assets/vendor/modernizr/modernizr.js'
            'assets/vendor/respond/dest/respond.min.js'
            'assets/vendor/jquery-ui/jquery-ui.min.js'
            'assets/vendor/select2/select2.min.js'
            'assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js'
            'assets/vendor/Chart.js/Chart.js'
            'assets/icons/grunticon.loader.js'
            'assets/js/frameworkcorebundle.grunticon.js'
            output='js/vendors.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts
            'assets/js/sumo_plugins.js'
            output='js/sumo_plugins.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts
            'assets/js/frameworkcorebundle.framework.data.js'
            'assets/js/frameworkcorebundle.framework.locale.js'
            'assets/js/frameworkcorebundle.framework.form.js'
            'assets/js/frameworkcorebundle.framework.js'
            'assets/js/frameworkcorebundle.framework.form.search.js'
            'assets/js/frameworkcorebundle.app.js'
            'assets/js/frameworkcorebundle.framework.charts.js'
            output='js/app.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block icons %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="image_src" href="{{ asset('image_src.png') }}" />
    {% endblock %}
</head>

<body class="">
<!--[if lt IE 8 ]>
    <div id="ie6" class="alert alert-block" role="alert">
        <a href="#" class="close icon-close" data-dismiss="alert" title="{{ 'dialogs.close'|trans|capitalize }}"><span class="sr-only" aria-hidden="true">x</span></a>
        {{ 'core.warnings.oldBrowser'|trans|raw }}
    </div>
<![endif]-->

    <div id="main-wrapper" class="main-wrapper">
      <div id="main-menu" class="main-menu" role="navigation">
        {{ include('SumoCodersFrameworkCoreBundle::navigation.html.twig') }}
      </div>
      <div id="content-wrapper">
        <div class="main-header">
          <div class="sub-nav row">
              <div class="col-sm-6 col-sm-push-6 col-md-8 col-md-push-4 col-alternative">
                <div class="user-nav">
                  {% if bundleExists('SumoCodersFrameworkUserBundle') %}
                    {% if app.user is not null %}
                      <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <i class="icon icon-avatar"></i>
                          <span class="hidden-xs hidden-sm">{{ app.user.username }}</span>
                          <span class="icon icon-angle hidden-xs hidden-sm"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{{ path('sumocoders_frameworkuser_user_edit', {'id': app.user.id }) }}">{{ 'user.header.actions.settings'|trans|capitalize }}</a></li>
                          <li><a href="{{ path('fos_user_security_logout') }}">{{ 'user.header.actions.logout'|trans|capitalize }}</a></li>
                        </ul>
                      </div>
                    {% endif %}
                  {% endif %}
                  {% if bundleExists('SumoCodersFrameworkSearchBundle') %}
                    <div class="search-box">
                      <form action="{{ path('sumocoders_frameworksearch_default_index') }}" data-form-class="SearchForm">
                        <div class="controls">
                          <div class="search-form">
                            <label for="searchQuery" class="control-label"> {{ 'search.forms.placeholders.term'|trans|capitalize }} </label>
                            <input id="searchQuery" name="q" type="search" placeholder="Zoek naar ..." class="form-control">
                          </div>
                          <a class="btn fa fa-search toggle-searchbar" href="#" role="button"> </a>
                          <button type="submit" class="btn fa fa-search submit-searchbar">
                            <span class="hide">{{ 'search.forms.buttons.search'|trans|capitalize }}</span>
                          </button>
                        </div>
                      </form>
                    </div>
                  {% endif %}
                </div>
              </div>
              <!-- @todo: fix breadcrumb -->
              <div class="col-sm-6 col-sm-pull-6 col-md-4 col-md-pull-8 col-alternative">
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Library</a></li>
                  <li class="active">Data</li>
                </ol>
              </div>
          </div>
        </div>
        {{ include('SumoCodersFrameworkCoreBundle::notifications.html.twig') }}
        <div class="header-title">
          <div class="header-title-bar">
              {% block header_title %}

              {% endblock %}
          </div>
        </div>
        {% set actions = block('header_navigation') %}
        {% if actions %}
        <div class="actions clearfix">
          <div class="action-buttons">
            {{ actions|raw }}
          </div>
        </div>
        {% endif %}
        <section id="main" class="main-content" role="main">
          <div class="container-fluid">
              {% block main %}

              {% endblock %}
          </div>
        </section>
      </div>
      <footer class="footer">
        {% block footer %}
          <div class="container-fluid">
            <div class="row hidden-md hidden-lg">
              <a href="#" class="pull-right backToTop"><i class="fa fa-chevron-circle-up"></i> {{ 'core.interface.backToTop'|trans|capitalize }}</a>
            </div>
          </div>
        {% endblock %}
      </footer>
    </div>

    {{ include('SumoCodersFrameworkCoreBundle::dialogs.html.twig') }}

    {% block javascripts %}{% endblock %}

    {% if app.environment == 'dev' %}
        <script src="//localhost:35729/livereload.js"></script>
    {% endif %}
</body>
</html>
