<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    {{ errbit_notifier() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta charset="UTF-8" />
    <title>
        {% block title %}
            {{ fallbacks.get('site_title') }}
        {% endblock %}
    </title>

    {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="author" content="SumoCoders">
    {% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block stylesheets %}
            {% stylesheets
                'assets/vendor/select2/select2.css'
                'assets/css/style.css'
                filter='cssrewrite'
                output='css/style.css'
            %}
                <link rel="stylesheet" href="{{ asset(asset_url) }}" />
            {% endstylesheets %}
    {% endblock %}

    {% block head_javascripts %}
        <script type="text/javascript">
            var jsData = {{ jsData|raw }};
        </script>

        {% javascripts
            'assets/vendor/jquery/dist/jquery.min.js'
            'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
            'assets/vendor/modernizr/modernizr.js'
            'assets/vendor/respond/dest/respond.min.js'
            output='js/vendors.js'
        %}
            <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
        {% endjavascripts %}

        {% javascripts
            'assets/js/sumo_plugins.js'
            output='js/sumo_plugins.js'
        %}
            <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
        {% endjavascripts %}

        {% javascripts
            'assets/js/frameworkcorebundle.framework.data.js'
            'assets/js/frameworkcorebundle.framework.locale.js'
            'assets/js/frameworkcorebundle.framework.form.js'
            'assets/js/frameworkcorebundle.framework.js'
            'assets/js/frameworkcorebundle.framework.form.search.js'
            'assets/js/frameworkcorebundle.app.js'
            output='js/app.js'
        %}
            <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block icons %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="image_src" href="{{ asset('image_src.png') }}" />
    {% endblock %}
</head>

<body class="">
<!--[if lt IE 8 ]>
    <div id="ie6" class="alert alert-block" role="alert">
        <a href="#" class="close" data-dismiss="alert" title="{{ 'dialogs.close'|trans|capitalize }}">x</a>
        {{ 'core.warnings.oldBrowser'|trans|raw }}
    </div>
<![endif]-->

    {% block main %}
    {% endblock %}

    {% block javascripts %}{% endblock %}

    {% if app.environment == 'dev' %}
        <script src="//localhost:35729/livereload.js"></script>
    {% endif %}
</body>
</html>
