<nav id="navbar" role="navigation">
    <a href="/" rel="home" class="logo hidden-xs">{{ fallbacks.get('site_title') }}</a>

    <div class="searchBox" role="search">
        {% if bundleExists('SumoCodersFrameworkSearchBundle') %}
            <form action="{{ path('sumocoders_frameworksearch_default_index') }}" data-form-class="SearchForm">
                <div class="controls">
                    <input id="searchQuery" name="q" type="search" placeholder="{{ 'forms.search.placeholders.search'|trans|capitalize }}" class="form-control">
                    <button type="submit" class="btn">
                        <i class="icon-search"></i>
                        <span class="hide">{{ 'forms.search.buttons.search'|trans|capitalize }}</span>
                    </button>
                </div>
            </form>
        {% endif %}
    </div>
    <div class="container">
        {{ knp_menu_render('main', {'template': 'SumoCodersFrameworkCoreBundle:menu:menu.html.twig'}) }}
    </div>
</nav>
<a href="#" id="toggleTabletNavbar">{{ 'navigation.titles.showHideMenu'|trans|capitalize }}</a>
