<nav id="navbar" role="navigation">
    <a href="/" rel="home" class="logo icon-logo-sumocoders hidden-xs">
      <span class="sr-only">
        {{ fallbacks.get('site_title') }}
      </span>
    </a>

    <div class="searchBox" role="search">
        {% if bundleExists('SumoCodersFrameworkSearchBundle') %}
            <form action="{{ path('sumocoders_frameworksearch_default_index') }}" data-form-class="SearchForm">
                <div class="controls">
                    <input id="searchQuery" name="q" type="search" placeholder="{{ 'forms.search.placeholders.search'|trans|capitalize }}" class="form-control">
                    <button type="submit" class="btn icon-search">
                        <span class="hide">{{ 'forms.search.buttons.search'|trans|capitalize }}</span>
                    </button>
                </div>
            </form>
        {% endif %}
    </div>
    <div class="container">
        {{ knp_menu_render('main', {'template': 'SumoCodersFrameworkCoreBundle:menu:menu.html.twig'}) }}
    </div>
</nav>
<a href="#" class="icon-arrow-show-menu" id="toggleTabletNavbar">
  <span class="sr-only">
    {{ 'navigation.titles.showHideMenu'|trans|capitalize }}
  </span>
</a>
