<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <style>
    {{ css|raw }}
  </style>
</head>
<body>
<style>
  {{ css|raw }}
</style>
<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <table class="container">
          <tr>
            <td class="center logo">
              <center>
                {% block logo %}
                  <img alt="logo" class="center" src="{{ asset('/assets/images/logo-application.png', absolute=true) }}">
                {% endblock %}
              </center>
            </td>
          </tr>
        </table>

        <table class="container content">
          <tr>
            <td class="banner">
              <table class="row">
                <tr>
                  <td class="wrapper last">
                    <table class="twelve columns">
                      <tr>
                        <td class="text-pad">
                          {% block title %}
                            <h1>{{ fallbacks.get('site_title') }}</h1>
                          {% endblock %}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <table class="main container content">
          <tr>
            <td>
              <table class="row">
                <tr>
                  <td class="wrapper last">
                    <table class="twelve columns">
                      <tr>
                        <td class="text-pad">
                          {% block content %}
                            {{ content|raw }}
                          {% endblock %}
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
</body>
</html>
